.sortButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

th {
    border-bottom: 1px solid black;
}

table {
    margin-top: 20px;
    table-layout: fixed;
    
}

button {
    width: fit-content;
    text-align: center;
    border-radius: 10px;
}

#searchTopper {
    margin: 50px;
}

#searchBox {
    margin: 10px;
}

#emptable {
    justify-content: center;
}